*.py[cod]
.env
.scratch/
downloads/

# C extensions
*.so

# Packages
*.egg
*.egg-info
.installed.cfg
.mypy_cache/
.venv
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
scratch
sdist
var
venv/

# Unit test / coverage reports
.coverage
.coverage.*
.tox
nosetests.xml
test-reports/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build/
docs/api/
docs/docs/
docs/examples
docs/sample_data
docs/models/
docs/modules/
docs/requirements.txt

# Mac OS X
.DS_Store

# Request cache
*.sqlite
*.db

# Profilers
profile.json

# Editors
.~*
.idea/
.ipynb_checkpoints/
.tmp
.vim/
.vscode/
swagger.json
dev_*.py
