repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [attrs, types-python-dateutil, types-requests, types-ujson]
        exclude: ^(examples/|test/sample_data/)
  - repo: https://github.com/yunojuno/pre-commit-xenon
    rev: v0.1
    hooks:
      - id: xenon
        args: [--max-average=A, --max-modules=C, --max-absolute=C]
        exclude: ^scripts/
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos
