services:
  jupyter:
    container_name: jupyter
    image: jxcook/pyinaturalist-notebook:latest
    ports:
      - 8888:8888
    volumes:
      - .:/home/jovyan/work
      - ~/.cache:/home/jovyan/.cache
      - ~/.local/share/pyinaturalist:/home/jovyan/.pyinaturalist
    restart: unless-stopped
    environment:
      # Enable JupyterLab (comment out to use classic notebook)
      JUPYTER_ENABLE_LAB: 'yes'
      # Point pyinaturalist data dir to the mounted volume (for API cache, ratelimit db, etc.)
      XDG_DATA_HOME: '/home/jovyan'
      # Set any value here to use as a token instead of generating a new one
      # JUPYTER_TOKEN: 'token goes here'
