{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.inaturalist.org/v2"
    }
  ],
  "info": {
    "title": "Test iNaturalist Version 2 API",
    "version": "2.0.0-alpha",
    "description": "## https://api.inaturalist.org/v2\n**UNDER ACTIVE DEVELOPMENT, USE OF THIS ALPHA RELEASE NOT RECOMMENDED**\n\nThese API methods return data in JSON/JSONP and PNG response formats. Visit our\n[developers page](https://www.inaturalist.org/pages/developers) for more\ninformation. Write operations that expect and return JSON describe a single\n`body` parameter that represents the request body, which should be specified\nas JSON. See the \"Model\" of each body parameter for attributes that we\naccept in these JSON objects.\n\nMultiple values for a single URL parameter should be separated by commas,\ne.g. `taxon_id=1,2,3`.\n\nMap tiles are generated using the\n[node-mapnik](https://github.com/mapnik/node-mapnik) library, following the\nXYZ map tiling scheme. The \"Observation Tile\" methods accept nearly all the\nparameters of the observation search APIs, and will generate map tiles\nreflecting the same observations returned by searches. These\n\"Observation Tile\" methods have corresponding\n[UTFGrid](https://github.com/mapbox/utfgrid-spec) JSON\nresponses which return information needed to make interactive maps.\n\nAuthentication in the Node API is handled via JSON Web Tokens (JWT). To\nobtain one, make an [OAuth-authenticated\nrequest](http://www.inaturalist.org/pages/api+reference#auth) to\n<https://www.inaturalist.org/users/api_token>. Each JWT will expire after 24\nhours. Authentication is required for all PUT and POST requests. Some GET\nrequests will also include private information like hidden coordinates if\nthe authenticated user has permission to view them.\n\n## Specifying Response Fields\n\nBy default, all endpoints will return a very minimal response for the requested\nresources (e.g. the contents of the `results` array), usually just the UUID.\nTo receive more data, include the `fields` parameter to specify exactly what\nyou want from these resources. For GET requests, this can be as simple as\n[https://api.inaturalist.org/v2/observations?fields=species_guess,observed_on](https://api.inaturalist.org/v2/observations?fields=species_guess,observed_on)\nto return the `species_guess` and `observed_on` fields of the observations.\n\nFor more complex responses, including nested objects, you have two options:\n\n### RISON\n\nYou can encode the fields parameter as [RISON](https://github.com/w33ble/rison-node),\na URL-friendly variant of JSON. If you want to request fields like\n\n```json\n{\n  \"species_guess\": true,\n  \"user\": {\n    \"login\": true\n  }\n}\n```\n\nyou can encode those fields as RISON:\n\n<a href=\"https://api.inaturalist.org/v2/observations?fields=(species_guess:!t,user:(login:!t))\">https://api.inaturalist.org/v2/observations?fields=(species_guess:!t,user:(login:!t))</a>\n\nThis is our preferred way to specify fields because it maintains the caching\nbenefits of URLs that are unique to their responses, and it avoids the\ncomplexity of overriding the HTTP request method.\n\n### X-HTTP-Method-Override\n\nIf specifying the fields in RISON still results in a URL that is too large or\nunwieldy, all GET endpoints also support POST requests with\nthe `X-HTTP-Method-Override: GET` header to so you can specify the response\nfields in stringified JSON, e.g.\n\n```\n  curl -XPOST \\\n    -H \"X-HTTP-Method-Override: GET\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\"fields\": {\"species_guess\": true, \"user\": {\"login\": true}}}' \\\n    \"https://api.inaturalist.org/v2/observations\"\n```\n\nWhen making `multipart/form-data` POST requests, you can still specify\n`fields` as part of the form data, either as a commma-separated list of field\nnames or a JSON string.\n\nTo see all available fields, you can use `fields=all`, e.g.\n<https://api.inaturalist.org/v2/observations?fields=all>\n\nPhotos served from https://static.inaturalist.org and\nhttps://inaturalist-open-data.s3.amazonaws.com have multiple size\nvariants and not all size variants are returned in responses. To access\nother sizes, the photo URL can be modified to replace only the size\nqualifier (each variant shares the exact same extension). The domain a photo\nis hosted under reflects the license under which the photo is being shared,\nand the domain may change over time if the license changes. Photos in\nthe `inaturalist-open-data` domain are shared under open licenses. These can\nbe accessed in bulk in the [iNaturalist AWS Open Dataset](\nhttps://registry.opendata.aws/inaturalist-open-data/). Photos in the\n`static.inaturalist.org` domain do not have open licenses.\n\nThe available photo sizes are:\n* original (max 2048px in either dimension)\n* large (max 1024px in either dimension)\n* medium (max 500px in either dimension)\n* small (max 240px in either dimension)\n* thumb (max 100px in either dimension)\n* square (75px square)\n\n## About iNaturalist\n\n[iNaturalist](https://www.inaturalist.org/) is a global community of\nnaturalists, scientists, and members of the public sharing over a million\nwildlife sightings to teach one another about the natural world while\ncreating high quality citizen science data for science and conservation.\n\niNaturalist Website: <https://www.inaturalist.org/>\n\nOpen Source Software: <https://github.com/inaturalist/>\n\n## Terms of Use\n\nUse of this API is subject to the iNaturalist\n[Terms of Service](https://www.inaturalist.org/terms) and\n[Privacy Policy](https://www.inaturalist.org/privacy). We will block any\nuse of our API that violates our Terms or Privacy Policy without notice.\nThe API is intended to support application development, not data scraping.\nFor pre- generated data exports, see\n<https://www.inaturalist.org/pages/developers>.\n\nPlease note that we throttle API usage to a max of 100 requests per minute,\nthough we ask that you try to keep it to 60 requests per minute or lower,\nand to keep under 10,000 requests per day. If we notice usage that has\nserious impact on our performance we may institute blocks without\nnotification.\n\nTerms of Service: <https://www.inaturalist.org/terms>\n\nPrivacy Policy: <https://www.inaturalist.org/privacy>"
  },
  "components": {
    "schemas": {
      "ControlledTerm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "blocking": {
            "type": "boolean"
          },
          "is_value": {
            "type": "boolean"
          },
          "excepted_taxon_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "label": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "definition": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "locale": {
                  "type": "string"
                },
                "valid_within_clade": {
                  "type": "integer",
                  "nullable": true
                }
              },
              "additionalProperties": false
            }
          },
          "multivalued": {
            "type": "boolean"
          },
          "ontology_uri": {
            "type": "string"
          },
          "taxon_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "uri": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "valid_within_clade": {
            "type": "integer",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ControlledTerm"
            }
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Site": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier.",
            "example": 1
          },
          "icon_url": {
            "type": "string",
            "description": "URL of an icon image for the site",
            "example": "https://static.inaturalist.org/sites/1-logo_square.png"
          },
          "locale": {
            "type": "string",
            "nullable": true,
            "description": "Default language code for users of this site",
            "example": "en"
          },
          "name": {
            "type": "string",
            "description": "Full name of the site",
            "example": "iNaturalist"
          },
          "place_id": {
            "type": "integer",
            "nullable": true,
            "description": "Integer ID of the default search place for this site"
          },
          "site_name_short": {
            "type": "string",
            "nullable": true,
            "description": "Short name for this site",
            "example": "iNat"
          },
          "url": {
            "type": "string",
            "example": "https://www.inaturalist.org"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "faved_project_ids": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "Ordered list of IDs of projects the user has faved"
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "identifications_count": {
            "type": "integer"
          },
          "journal_posts_count": {
            "type": "integer"
          },
          "annotated_observations_count": {
            "type": "integer"
          },
          "last_active": {
            "type": "string",
            "format": "date-time"
          },
          "login": {
            "type": "string"
          },
          "monthly_supporter": {
            "type": "boolean",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "observations_count": {
            "type": "integer"
          },
          "orcid": {
            "type": "string",
            "nullable": true
          },
          "preferences": {
            "type": "object",
            "properties": {
              "prefers_community_taxa": {
                "type": "boolean",
                "description": "\n        Whether the user allows the Community Taxon to be the taxon their observation is associated with\n      "
              },
              "prefers_observation_fields_by": {
                "type": "string",
                "enum": [
                  "anyone",
                  "curators",
                  "observer"
                ]
              },
              "prefers_project_addition_by": {
                "type": "string",
                "enum": [
                  "any",
                  "joined",
                  "none"
                ]
              }
            },
            "additionalProperties": false
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "site": {
            "$ref": "#/components/schemas/Site"
          },
          "site_id": {
            "type": "integer",
            "nullable": true
          },
          "spam": {
            "type": "boolean"
          },
          "species_count": {
            "type": "integer"
          },
          "suspended": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Vote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "created_at": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "vote_flag": {
            "type": "boolean"
          },
          "vote_scope": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "concatenated_attr_val": {
            "type": "string"
          },
          "controlled_attribute": {
            "$ref": "#/components/schemas/ControlledTerm"
          },
          "controlled_attribute_id": {
            "type": "integer"
          },
          "controlled_value": {
            "$ref": "#/components/schemas/ControlledTerm"
          },
          "controlled_value_id": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "vote_score": {
            "type": "integer"
          },
          "votes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vote"
            }
          }
        },
        "required": [
          "uuid"
        ],
        "additionalProperties": false
      },
      "Announcement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "placement": {
            "type": "string"
          },
          "clients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dismissible": {
            "type": "boolean"
          },
          "locales": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "AppBuildInfo": {
        "type": "object",
        "properties": {
          "rails": {
            "type": "object",
            "properties": {
              "git_branch": {
                "type": "string"
              },
              "git_commit": {
                "type": "string"
              },
              "image_tag": {
                "type": "string"
              },
              "build_date": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "api": {
            "type": "object",
            "properties": {
              "git_branch": {
                "type": "string"
              },
              "git_commit": {
                "type": "string"
              },
              "image_tag": {
                "type": "string"
              },
              "build_date": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "vision": {
            "type": "object",
            "properties": {
              "git_branch": {
                "type": "string"
              },
              "git_commit": {
                "type": "string"
              },
              "image_tag": {
                "type": "string"
              },
              "build_date": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AuthorizedApplication": {
        "type": "object",
        "properties": {
          "application": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "example": "iNaturalist iPhone App"
              },
              "official": {
                "type": "boolean",
                "description": "Whether this application is controlled by iNaturalist itself"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "login",
                "write",
                "account_delete"
              ],
              "example": [
                "login",
                "write"
              ]
            },
            "description": "List of scopes granted to this application. `login` provides access to information required for logging into a third-party service like user ID, email address, profile pic, etc. `write` allows the application to post content to iNat as the user; `account_delete` allows the application to delete the user's iNat account."
          }
        },
        "required": [
          "application"
        ],
        "additionalProperties": false
      },
      "BuildInfo": {
        "type": "object",
        "properties": {
          "git_branch": {
            "type": "string"
          },
          "git_commit": {
            "type": "string"
          },
          "image_tag": {
            "type": "string"
          },
          "build_date": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DateDetails": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "day": {
            "type": "integer"
          },
          "hour": {
            "type": "integer"
          },
          "month": {
            "type": "integer"
          },
          "week": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          }
        },
        "required": [
          "date",
          "day",
          "hour",
          "month",
          "week",
          "year"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Flag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at_utc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "flag": {
            "type": "string"
          },
          "flaggable_content": {
            "type": "string",
            "nullable": true
          },
          "flaggable_id": {
            "type": "integer",
            "nullable": true
          },
          "flaggable_type": {
            "type": "string",
            "nullable": true
          },
          "flaggable_user_id": {
            "type": "integer",
            "nullable": true
          },
          "resolved": {
            "type": "boolean"
          },
          "resolver_id": {
            "type": "integer",
            "nullable": true
          },
          "resolved_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at_utc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ModeratorAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "created_at": {
            "type": "string"
          },
          "created_at_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "action": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "body": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "created_at_utc": {
            "type": "string",
            "format": "date-time"
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "hidden": {
            "type": "boolean"
          },
          "html": {
            "type": "string"
          },
          "moderator_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModeratorAction"
            }
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "parent_type": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at_details": {
            "type": "string",
            "format": "date-time"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid"
        ],
        "additionalProperties": false
      },
      "Taxon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "ancestors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Taxon"
            }
          },
          "ancestor_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "ancestry": {
            "type": "string",
            "nullable": true
          },
          "atlas_id": {
            "type": "integer",
            "nullable": true
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Taxon"
            }
          },
          "complete_rank": {
            "type": "string"
          },
          "complete_species_count": {
            "type": "integer",
            "nullable": true
          },
          "conservation_status": {
            "$ref": "#/components/schemas/ConservationStatus"
          },
          "conservation_statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConservationStatus"
            }
          },
          "created_at": {
            "type": "string"
          },
          "current_synonymous_taxon_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true
          },
          "default_photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "endemic": {
            "type": "boolean"
          },
          "english_common_name": {
            "type": "string"
          },
          "establishment_means": {
            "type": "object",
            "properties": {
              "establishment_means": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "place": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "ancestry": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "preferred_establishment_means": {
            "type": "string"
          },
          "extinct": {
            "type": "boolean"
          },
          "provisional": {
            "type": "boolean"
          },
          "flag_counts": {
            "type": "object",
            "properties": {
              "resolved": {
                "type": "integer"
              },
              "unresolved": {
                "type": "integer"
              }
            },
            "additionalProperties": false
          },
          "iconic_taxon_id": {
            "type": "integer",
            "nullable": true
          },
          "iconic_taxon_name": {
            "type": "string"
          },
          "introduced": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "listed_taxa": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "establishment_means": {
                  "type": "string"
                },
                "list": {
                  "$ref": "#/components/schemas/List"
                },
                "taxon": {
                  "$ref": "#/components/schemas/Taxon"
                },
                "taxon_id": {
                  "type": "integer"
                },
                "place": {
                  "$ref": "#/components/schemas/Place"
                }
              },
              "additionalProperties": false
            }
          },
          "listed_taxa_count": {
            "type": "integer"
          },
          "matched_term": {
            "type": "string"
          },
          "min_species_ancestry": {
            "type": "string"
          },
          "min_species_taxon_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "native": {
            "type": "boolean"
          },
          "observations_count": {
            "type": "integer"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "photos_locked": {
            "type": "boolean",
            "description": "Whether or not photos for this taxon can be edited"
          },
          "preferred_common_name": {
            "type": "string",
            "nullable": true
          },
          "preferred_common_names": {
            "type": "array",
            "items": {},
            "nullable": true
          },
          "rank": {
            "type": "string"
          },
          "rank_level": {
            "type": "number",
            "format": "float"
          },
          "representative_photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "statuses": {
            "type": "array",
            "items": {
              "description": "TODO: status can be strings or objects"
            }
          },
          "taxon_changes_count": {
            "type": "integer"
          },
          "taxon_photos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "taxon": {
                  "$ref": "#/components/schemas/Taxon"
                },
                "taxon_id": {
                  "type": "integer"
                },
                "photo": {
                  "$ref": "#/components/schemas/Photo"
                }
              },
              "additionalProperties": false
            }
          },
          "taxon_schemes_count": {
            "type": "integer"
          },
          "threatened": {
            "type": "boolean"
          },
          "universal_search_rank": {
            "type": "integer"
          },
          "vision": {
            "type": "boolean"
          },
          "wikipedia_summary": {
            "type": "string",
            "nullable": true
          },
          "wikipedia_url": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "ConservationStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "authority": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "iucn": {
            "type": "integer"
          },
          "iucn_status": {
            "type": "string"
          },
          "iucn_status_code": {
            "type": "string"
          },
          "place": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "ancestry": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "place_id": {
            "type": "integer",
            "nullable": true
          },
          "source_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "status_name": {
            "type": "string"
          },
          "taxon_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "attribution": {
            "type": "string"
          },
          "attribution_name": {
            "type": "string",
            "nullable": true
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "hidden": {
            "type": "boolean"
          },
          "large_url": {
            "type": "string",
            "nullable": true
          },
          "license_code": {
            "type": "string",
            "nullable": true
          },
          "medium_url": {
            "type": "string",
            "nullable": true
          },
          "moderator_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModeratorAction"
            }
          },
          "native_page_url": {
            "type": "string",
            "nullable": true
          },
          "native_photo_id": {
            "type": "string",
            "nullable": true
          },
          "original_dimensions": {
            "type": "object",
            "properties": {
              "height": {
                "type": "integer",
                "nullable": true
              },
              "width": {
                "type": "integer",
                "nullable": true
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "original_url": {
            "type": "string",
            "nullable": true
          },
          "small_url": {
            "type": "string",
            "nullable": true
          },
          "square_url": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "original_filename": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "PolygonGeoJson": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "coordinates": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "float"
                      },
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "minItems": 2,
                    "maxItems": 2
                  }
                }
              }
            ]
          }
        },
        "required": [
          "type",
          "coordinates"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "PointGeoJson": {
        "type": "object",
        "properties": {
          "coordinates": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "coordinates",
          "type"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Place": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "admin_level": {
            "type": "integer",
            "nullable": true
          },
          "ancestor_place_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true
          },
          "bbox_area": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "bounding_box_geojson": {
            "$ref": "#/components/schemas/PolygonGeoJson"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "display_name_autocomplete": {
            "type": "string",
            "nullable": true
          },
          "geometry_geojson": {
            "$ref": "#/components/schemas/PolygonGeoJson"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "matched_term": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "observations_count": {
            "type": "integer"
          },
          "place_type": {
            "type": "integer",
            "nullable": true
          },
          "point_geojson": {
            "$ref": "#/components/schemas/PointGeoJson"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "universal_search_rank": {
            "type": "integer",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "without_check_list": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "CommonAncestor": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "description": " Common ancestor scores are not directly comparable to the combined_score\n    of results. Generally they are similar, factoring in both vision and spatial\n    similarity, but are derived from a subset of the top results resulting in\n    a value different than combined_score. Usually the common ancestor score\n    will be above 70 as taxa need to have a high confidence in order to be\n    considered a likely common ancestor.\n  "
          },
          "taxon": {
            "$ref": "#/components/schemas/Taxon"
          }
        },
        "required": [
          "taxon"
        ],
        "additionalProperties": false,
        "description": " Common ancestor taxon of some of the top results weighted by combined score.\n  If present, it generally has a much higher chance of being accurate (if not\n  precise), often by as much as 30-40 percentage points.\n"
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Unique auto-increment integer identifier."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "from": {
                  "type": "string",
                  "nullable": true
                },
                "stack": {
                  "type": "string",
                  "nullable": true
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "IdSummaryReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier for the reference."
          },
          "id_summary_id": {
            "type": "integer",
            "description": "Parent IdSummary ID."
          },
          "reference_uuid": {
            "type": "string",
            "nullable": true,
            "description": "External UUID for the referenced object (e.g. identification or comment), if available."
          },
          "reference_source": {
            "type": "string",
            "nullable": true,
            "description": "Origin of the reference, e.g. 'observation' or 'identification'."
          },
          "reference_observation_id": {
            "type": "integer",
            "nullable": true,
            "description": "Observation ID associated with the reference, if any."
          },
          "reference_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the referenced content was created, if known."
          },
          "reference_content": {
            "type": "string",
            "nullable": true,
            "description": "Captured text from the referenced content (e.g. a comment body)."
          },
          "user_id": {
            "type": "integer",
            "nullable": true,
            "description": "User ID associated with the reference, if any."
          },
          "user_login": {
            "type": "string",
            "nullable": true,
            "description": "User login associated with the reference, if any."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Record creation time (UTC)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last update time (UTC)."
          }
        },
        "required": [
          "id",
          "id_summary_id"
        ],
        "additionalProperties": false
      },
      "IdSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier for the IdSummary."
          },
          "taxon_id_summary_id": {
            "type": "integer",
            "description": "Parent TaxonIdSummary ID."
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "Short human-readable identification summary text."
          },
          "photo_tip": {
            "type": "string",
            "nullable": true,
            "description": "Plain-language tip describing what to photograph to capture key ID features."
          },
          "visual_key_group": {
            "type": "string",
            "nullable": true,
            "description": "Grouping label for the summary (e.g. 'Coloration', 'Shape')."
          },
          "score": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Overall score for the summary, if available."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Record creation time (UTC)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last update time (UTC)."
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdSummaryReference"
            },
            "description": "References (observations, identifications, comments, etc.) that support this summary.",
            "default": []
          }
        },
        "required": [
          "id",
          "taxon_id_summary_id"
        ],
        "additionalProperties": false
      },
      "Identification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "current": {
            "type": "boolean"
          },
          "disagreement": {
            "type": "boolean",
            "nullable": true
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "hidden": {
            "type": "boolean"
          },
          "moderator_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModeratorAction"
            }
          },
          "observation_id": {
            "type": "integer"
          },
          "own_observation": {
            "type": "boolean"
          },
          "previous_observation_taxon_id": {
            "type": "integer",
            "nullable": true
          },
          "previous_observation_taxon": {
            "$ref": "#/components/schemas/Taxon"
          },
          "spam": {
            "type": "boolean"
          },
          "taxon": {
            "$ref": "#/components/schemas/Taxon"
          },
          "taxon_change": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "type"
            ],
            "additionalProperties": false,
            "nullable": true
          },
          "taxon_change_id": {
            "type": "integer",
            "nullable": true
          },
          "taxon_change_type": {
            "type": "string",
            "nullable": true
          },
          "taxon_id": {
            "type": "integer"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "vision": {
            "type": "boolean"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ListedTaxon": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "nullable": true
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "comments_count": {
            "type": "integer"
          },
          "occurrence_status_level": {
            "type": "integer",
            "nullable": true,
            "description": "Assessment of occurrence frequency in this place. 60 = present, 50 = common, 40 = uncommon, 30 = irregular, 20 = doubtful, 10 = absent"
          },
          "establishment_means": {
            "type": "string",
            "enum": [
              "native",
              "endemic",
              "introduced"
            ],
            "description": "How this taxon became established in this place"
          },
          "observations_count": {
            "type": "integer"
          },
          "manually_added": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether this taxon was added to this list by a person or not"
          },
          "primary_listing": {
            "type": "boolean",
            "description": "Whether or not this is the primary listing for this taxon in this place (places can have multiple checklists that contain the same taxa)"
          },
          "establishment_means_label": {
            "type": "string",
            "description": "Localized version of the establishment means"
          },
          "establishment_means_description": {
            "type": "string",
            "description": "Localized description of the establishment means"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "user_id": {
            "type": "integer"
          },
          "thread_id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "read_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "comments_count": {
            "type": "integer"
          },
          "from_user": {
            "$ref": "#/components/schemas/User"
          },
          "to_user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ObservationField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "allowed_values": {
            "type": "string",
            "nullable": true
          },
          "datatype": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "description_autocomplete": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "name_autocomplete": {
            "type": "string"
          },
          "users_count": {
            "type": "integer",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "values_count": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "admins": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "project_id": {
                  "type": "integer"
                },
                "role": {
                  "type": "string"
                },
                "user": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "integer"
                }
              },
              "additionalProperties": false
            }
          },
          "banner_color": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "delegated_project_id": {
            "type": "integer",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "header_image_contain": {
            "type": "boolean"
          },
          "header_image_file_name": {
            "type": "string",
            "nullable": true
          },
          "header_image_url": {
            "type": "string",
            "nullable": true
          },
          "hide_title": {
            "type": "boolean"
          },
          "hide_umbrella_map_flags": {
            "type": "boolean"
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "icon_file_name": {
            "type": "string",
            "nullable": true
          },
          "is_delegated_umbrella": {
            "type": "boolean",
            "nullable": true
          },
          "is_umbrella": {
            "type": "boolean"
          },
          "latitude": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "longitude": {
            "type": "string"
          },
          "observation_requirements_updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "place_id": {
            "type": "integer",
            "nullable": true
          },
          "prefers_user_trust": {
            "type": "boolean",
            "nullable": true
          },
          "project_observation_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "observation_field": {
                  "$ref": "#/components/schemas/ObservationField"
                },
                "position": {
                  "type": "integer"
                },
                "required": {
                  "type": "boolean",
                  "nullable": true
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": false
            }
          },
          "project_observation_rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "operand_id": {
                  "type": "integer",
                  "nullable": true
                },
                "operand_type": {
                  "type": "string",
                  "nullable": true
                },
                "operator": {
                  "type": "string"
                },
                "place": {
                  "$ref": "#/components/schemas/Place"
                },
                "project": {
                  "$ref": "#/components/schemas/Project"
                },
                "taxon": {
                  "$ref": "#/components/schemas/Taxon"
                },
                "user": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": false
            }
          },
          "project_type": {
            "type": "string",
            "nullable": true
          },
          "rule_preferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Observation attribute this rule assesses"
                },
                "value": {
                  "description": "Required observation attribute value(s)"
                }
              },
              "additionalProperties": false
            }
          },
          "search_parameters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "value": {
                  "description": "TODO: values can be single values or arrays"
                },
                "value_bool": {
                  "type": "boolean"
                },
                "value_date": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "value_keyword": {
                  "description": "TODO: values can be single values or arrays"
                },
                "value_number": {
                  "anyOf": [
                    {
                      "type": "number",
                      "format": "float"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "float"
                      }
                    }
                  ]
                }
              },
              "additionalProperties": false
            }
          },
          "site_features": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "noteworthy": {
                  "type": "boolean"
                },
                "site_id": {
                  "type": "integer"
                },
                "featured_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "additionalProperties": false
            },
            "nullable": true,
            "description": "TODO: fix this"
          },
          "slug": {
            "type": "string"
          },
          "terms": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "user_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "ObservationPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "Sound": {
        "type": "object",
        "properties": {
          "attribution": {
            "type": "string"
          },
          "file_content_type": {
            "type": "string",
            "nullable": true
          },
          "file_url": {
            "type": "string",
            "nullable": true
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "hidden": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "license_code": {
            "type": "string",
            "nullable": true
          },
          "moderator_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModeratorAction"
            }
          },
          "native_sound_id": {
            "type": "string",
            "nullable": true
          },
          "original_filename": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "ObservationSound": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "sound": {
            "$ref": "#/components/schemas/Sound"
          },
          "position": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ObservationFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "datatype": {
            "type": "string"
          },
          "field_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "name_ci": {
            "type": "string"
          },
          "observation_field": {
            "$ref": "#/components/schemas/ObservationField"
          },
          "taxon": {
            "$ref": "#/components/schemas/Taxon"
          },
          "taxon_id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "value": {
            "type": "string"
          },
          "value_ci": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProjectUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "observations_count": {
            "type": "integer"
          },
          "prefers_curator_coordinate_access_for": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "taxa_count": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at_utc": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at_utc": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ProjectObservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "current_user_is_member": {
            "type": "boolean"
          },
          "preferences": {
            "type": "object",
            "properties": {
              "allows_curator_coordinate_access": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "project_id": {
            "type": "integer"
          },
          "project_user": {
            "$ref": "#/components/schemas/ProjectUser"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "uuid"
        ],
        "additionalProperties": false
      },
      "QualityMetric": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "agree": {
            "type": "boolean"
          },
          "metric": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "Observation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique auto-increment integer identifier."
          },
          "annotations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          },
          "application": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "icon": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false
          },
          "cached_votes_total": {
            "type": "integer"
          },
          "captive": {
            "type": "boolean"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "comments_count": {
            "type": "integer"
          },
          "community_taxon": {
            "$ref": "#/components/schemas/Taxon"
          },
          "community_taxon_id": {
            "type": "integer",
            "nullable": true
          },
          "context_geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "context_taxon_geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "context_user_geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "created_at_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "created_time_zone": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "faves": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vote"
            }
          },
          "faves_count": {
            "type": "integer"
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          },
          "geojson": {
            "$ref": "#/components/schemas/PointGeoJson"
          },
          "geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "id_please": {
            "type": "boolean"
          },
          "ident_taxon_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "identifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identification"
            }
          },
          "identifications_count": {
            "type": "integer"
          },
          "identifications_most_agree": {
            "type": "boolean"
          },
          "identifications_most_disagree": {
            "type": "boolean"
          },
          "identifications_some_agree": {
            "type": "boolean"
          },
          "license_code": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "map_scale": {
            "type": "integer",
            "nullable": true
          },
          "mappable": {
            "type": "boolean"
          },
          "non_owner_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identification"
            }
          },
          "non_traditional_projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "current_user_is_member": {
                  "type": "boolean"
                },
                "project": {
                  "$ref": "#/components/schemas/Project"
                },
                "projectUser": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "prefers_curator_coordinate_access_for": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": false
            }
          },
          "num_identification_agreements": {
            "type": "integer"
          },
          "num_identification_disagreements": {
            "type": "integer"
          },
          "oauth_application_id": {
            "type": "integer",
            "nullable": true
          },
          "obscured": {
            "type": "boolean"
          },
          "observation_photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObservationPhoto"
            }
          },
          "observation_sounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObservationSound"
            }
          },
          "observed_on": {
            "type": "string",
            "nullable": true
          },
          "observed_on_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "observed_on_string": {
            "type": "string",
            "nullable": true
          },
          "observed_time_zone": {
            "type": "string",
            "nullable": true
          },
          "ofvs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObservationFieldValue"
            }
          },
          "out_of_range": {
            "type": "boolean",
            "nullable": true
          },
          "outlinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          },
          "owners_identification_from_vision": {
            "type": "boolean",
            "nullable": true
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "place_guess": {
            "type": "string",
            "nullable": true
          },
          "place_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "positional_accuracy": {
            "type": "integer",
            "nullable": true
          },
          "preferences": {
            "type": "object",
            "properties": {
              "auto_obscuration": {
                "type": "boolean"
              },
              "prefers_community_taxon": {
                "type": "boolean",
                "nullable": true
              }
            },
            "additionalProperties": false
          },
          "private_geojson": {
            "$ref": "#/components/schemas/PointGeoJson"
          },
          "private_location": {
            "type": "string",
            "nullable": true
          },
          "private_place_guess": {
            "type": "string",
            "nullable": true
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "project_ids_with_curator_id": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "project_ids_without_curator_id": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "project_observations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectObservation"
            }
          },
          "public_positional_accuracy": {
            "type": "integer",
            "nullable": true
          },
          "quality_grade": {
            "type": "string"
          },
          "quality_metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QualityMetric"
            }
          },
          "reviewed_by": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "site_id": {
            "type": "integer",
            "nullable": true
          },
          "sounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sound"
            }
          },
          "spam": {
            "type": "boolean"
          },
          "species_guess": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "taxon": {
            "$ref": "#/components/schemas/Taxon"
          },
          "taxon_geoprivacy": {
            "type": "string",
            "nullable": true
          },
          "time_observed_at": {
            "type": "string",
            "nullable": true
          },
          "time_zone_offset": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "viewer_trusted_by_observer": {
            "type": "boolean",
            "nullable": true,
            "description": "Observer trusts the authenticated user with access to hidden coordinates"
          },
          "votes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vote"
            }
          }
        },
        "required": [
          "uuid"
        ],
        "additionalProperties": false
      },
      "TaxonNamePriority": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "place_id": {
            "type": "integer",
            "nullable": true
          },
          "place": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "display_name": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false
          },
          "lexicon": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "id",
          "user_id",
          "lexicon",
          "position"
        ],
        "additionalProperties": false
      },
      "PrivateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "faved_project_ids": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "Ordered list of IDs of projects the user has faved"
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "identifications_count": {
            "type": "integer"
          },
          "journal_posts_count": {
            "type": "integer"
          },
          "annotated_observations_count": {
            "type": "integer"
          },
          "last_active": {
            "type": "string",
            "format": "date-time"
          },
          "monthly_supporter": {
            "type": "boolean",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "observations_count": {
            "type": "integer"
          },
          "orcid": {
            "type": "string",
            "nullable": true
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "site": {
            "$ref": "#/components/schemas/Site"
          },
          "site_id": {
            "type": "integer",
            "nullable": true
          },
          "spam": {
            "type": "boolean"
          },
          "species_count": {
            "type": "integer"
          },
          "suspended": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "activity_count": {
            "type": "integer"
          },
          "blocked_user_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "confirmation_sent_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "data_transfer_consent": {
            "type": "boolean",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string",
            "nullable": true
          },
          "login": {
            "type": "string"
          },
          "muted_user_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true
          },
          "pi_consent": {
            "type": "boolean",
            "nullable": true
          },
          "place_id": {
            "type": "integer",
            "nullable": true
          },
          "preferences": {
            "type": "object",
            "properties": {
              "prefers_community_taxa": {
                "type": "boolean"
              },
              "prefers_observation_fields_by": {
                "type": "string",
                "description": "Allows this kind of user to add observation field values to their observations"
              },
              "prefers_project_addition_by": {
                "type": "string",
                "description": "Allows this kind of user to add their observations to projects"
              },
              "prefers_common_names": {
                "type": "boolean",
                "description": "Prefers to view common names"
              },
              "prefers_scientific_name_first": {
                "type": "boolean",
                "description": "Prefers to view scientific names before common names"
              }
            },
            "additionalProperties": false
          },
          "preferred_observation_fields_by": {
            "type": "string",
            "nullable": true
          },
          "preferred_observation_license": {
            "type": "string",
            "nullable": true
          },
          "preferred_photo_license": {
            "type": "string",
            "nullable": true
          },
          "preferred_project_addition_by": {
            "type": "string",
            "nullable": true
          },
          "preferred_sound_license": {
            "type": "string",
            "nullable": true
          },
          "prefers_automatic_taxonomic_changes": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_comment_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_common_names": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_community_taxa": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_identification_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_infraspecies_identification_notifications": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_mention_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_message_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_monthly_supporter_badge": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_no_email": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_no_tracking": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_non_disagreeing_identification_notifications": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_project_added_your_observation_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_project_curator_change_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_project_journal_post_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_receive_mentions": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_redundant_identification_notifications": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_scientific_name_first": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_taxon_change_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_taxon_or_place_observation_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "prefers_user_observation_email_notification": {
            "type": "boolean",
            "nullable": true
          },
          "privileges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "search_place_id": {
            "type": "integer",
            "nullable": true
          },
          "taxon_name_priorities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonNamePriority"
            }
          },
          "time_zone": {
            "type": "string",
            "nullable": true
          },
          "unconfirmed_email": {
            "type": "string",
            "nullable": true
          },
          "universal_search_rank": {
            "type": "integer"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "nullable": true
      },
      "ProjectMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "project_id": {
            "type": "integer"
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "prefers_curator_coordinate_access_for": {
            "type": "string",
            "nullable": true
          },
          "prefers_updates": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ProviderAuthorization": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer"
          },
          "provider_name": {
            "type": "string",
            "enum": [
              "apple",
              "facebook",
              "flickr",
              "google_oauth2",
              "open_id",
              "orcid",
              "soundcloud",
              "twitter"
            ],
            "description": "Name of the provider from a controlled vocabulary. The `open_id` means Yahoo in this context",
            "example": "google_oauth2"
          },
          "provider_uid": {
            "type": "string",
            "nullable": true,
            "description": "Unique identifier for the user from the provider"
          },
          "scope": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated list of OAuth scopes granted by the provider",
            "example": "email,user_photos"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "Relationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique auto-increment integer identifier."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "friend_user": {
            "$ref": "#/components/schemas/User"
          },
          "following": {
            "type": "boolean",
            "description": "Whether the user notifications about new content made by the friend"
          },
          "trust": {
            "type": "boolean",
            "description": "Whether the user trusts the friend with hidden coordinates"
          },
          "reciprocal_trust": {
            "type": "boolean",
            "description": "Whether the friend trusts the user with hidden coordinates"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ResultsAnnotations": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsAnnouncements": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsAuthorizedApplications": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorizedApplication"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsComments": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsComputervision": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "common_ancestor": {
            "$ref": "#/components/schemas/CommonAncestor"
          },
          "experimental": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "combined_score": {
                  "type": "number",
                  "format": "float",
                  "minimum": 0,
                  "maximum": 100,
                  "description": " Combination of the vision and frequency scores, i.e. a score that\n      incorporates visual similarity and spatial similarity\n    "
                },
                "frequency_score": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ],
                  "description": " This value used to be any float value between 0 and 1 reflecting a\n      measure of spatial similarity to observations of this taxon.\n      Currently frequency_score can only be 0 meaning the taxon is not expected\n      nearby, or 1 meaning the taxon is expected to be nearby. These values\n      are derived from the iNaturalist Geomodel trained on iNaturalist\n      observation locations.\n    "
                },
                "vision_score": {
                  "type": "number",
                  "format": "float",
                  "minimum": 0,
                  "maximum": 100,
                  "description": " Score based on the visual similarity of the provided photo to photos of\n      taxa in the computer vision model.\n    "
                },
                "taxon": {
                  "$ref": "#/components/schemas/Taxon"
                }
              },
              "required": [
                "combined_score",
                "taxon"
              ],
              "additionalProperties": false
            },
            "description": " Scores are provided without units and are intended for sorting the\n    suggestions. One type of score is not necessarily comparable to another,\n    e.g. a taxon with a vision_score of 30 should not necessarily be shown\n    before one with a frequency_score of 1. None of the scores are probabilities of\n    accuracy. Score ranges will vary from observation to observation (e.g. a\n    result with combined_score of 80 for one observation is not equally as\n    likely a result with the same score for a different observation). Within\n    results for a single observation, scores reflect relative confidence. In a\n    single response, a result with a combined score twice another result is\n    more likely to be accurate, but not neseccarily exactly twice as likely.\n  "
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsControlledTerms": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ControlledTerm"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsEmailAvailable": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ResultsFlags": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flag"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsIdentifications": {
        "type": "object",
        "properties": {
          "total_results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identification"
            }
          }
        },
        "required": [
          "total_results",
          "page",
          "per_page",
          "results"
        ],
        "additionalProperties": false
      },
      "ResultsIdentificationsRecentTaxa": {
[...]
