/* Adapted from: https://github.com/plone/training/blob/master/_static/custom.css */

.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .admonition-title:after {
    content: " ▶";
}

.toggle .admonition-title.open:after {
    content: " ▼";
}

.toggle p:last-child {
    margin-bottom: 0;
}
