name: Deploy

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      pre-release-suffix:
        description: 'Version suffix for pre-releases ("a", "b", "rc", etc.)'
        required: false
        default: 'dev'
      pre-release-version:
        description: 'Version number for pre-releases; defaults to build number'
        required: false
        default: ''
env:
  LATEST_PY_VERSION: '3.13'

jobs:
  # Deploy stable builds on tags only, and pre-release builds from manual trigger ("workflow_dispatch")
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.LATEST_PY_VERSION }}
      - uses: yezz123/setup-uv@v4

      - name: Set pre-release version
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        env:
          pre-release-suffix: ${{ github.event.inputs.pre-release-suffix || 'dev' }}
          pre-release-version: ${{ github.event.inputs.pre-release-version || github.run_number }}
        run: |
          PKG_VERSION=$(uvx --from=toml-cli toml get --toml-path=pyproject.toml project.version)
          DEV_VERSION=$PKG_VERSION.${{ env.pre-release-suffix }}${{ env.pre-release-version }}
          echo "Setting pre-release version to $DEV_VERSION"
          uvx --from=toml-cli toml set --toml-path=pyproject.toml project.version $DEV_VERSION

      - name: Build package distributions
        run: uvx --from build pyproject-build --installer uv
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
